<div class="row">
    <div class="col-md-8">
        <h3>About Us</h3>
        <p>
            Kendo UI: Drop-Down List Sample
        </p>
        <kendo-dropdownlist [data]="categories" [defaultItem]="defaultItem" textField="text" valueField="value" >
        </kendo-dropdownlist>
    </div>
    <div class="col-md-4 bg-light">
        <h3>Contact Us</h3>
        <table class="table table-borderless">
            <tr>
                <td>Email:</td>
                <td style="color:dodgerblue;">talkingtothespace.help@outlook.com</td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td>04 1234 5678</td>
            </tr>
            <tr>
                <td>Quick Message</td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea class="md-textarea form-control" id="quick" rows="6" style="border: 1px solid #3b3b3b" >

                        </textarea>
                </td>
            </tr>
        </table>
        
        <button type="button" class="btn btn-primary float-end" onclick="alert('Message Sent')">Send Message</button>
    </div>
</div>
